<div *ngIf = "isAuthenticated()" class="container">
  <mat-nav-list>
    <mat-list-item>
      <a matLine href="/">Dashboard</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/">Clubs</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/">Chat</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/">Events</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/">Analytics</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/">Import</a>
    </mat-list-item>
  </mat-nav-list>
</div>
