<div *ngIf = "isAuthenticated()" class="container">
  <mat-nav-list>
    <mat-list-item>
      <a matLine href="/dashboard/">Dashboard</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/questionnaire/">Fragebogen</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/clubs/">Clubs</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/dashboard/">Chat</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/dashboard/">Events</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/dashboard/">Analytics</a>
    </mat-list-item>
    <mat-list-item>
      <a matLine href="/dashboard/">Import</a>
    </mat-list-item>
  </mat-nav-list>
</div>
