<div *ngIf = "isAuthenticated()" class="flex">
  <div class = "logo_container">
    <img src='assets/img/logo_best_practice_club.png' alt='image' class="logo">
  </div>
  <div class = "toolbar_container">
    <mat-toolbar class = "toolbar">
      <div class="title">
        <mat-form-field class="search-form-field" appearance="outline">
          <input matInput type="text" [(ngModel)]="value" placeholder="Suchen...">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <span class="fill-space"></span>
      <div *ngIf="user" class="right">
        <mat-icon matBadge="3" class = "toolbar_icon" color="primary">notification_important</mat-icon>
        <mat-icon class = "toolbar_icon" color="primary">account_circle</mat-icon>

          <div class = "user_organisation">
            <div>
              <mat-label>{{fullUserName}}</mat-label>
            </div>
            <div>
              <span class="organisation_class">{{selectedOrganisationName}}</span>
            </div>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="organisationMenu">
              <mat-icon color="primary">store</mat-icon>
              <span>Stakeholder wechseln</span>
            </button>
            <button mat-menu-item>
              <mat-icon color="primary">account_circle</mat-icon>
              <span>Profil bearbeiten</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon color="primary">power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
          <mat-menu #organisationMenu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let item of organisations" [disabled]="'@'+item.name === selectedOrganisationName" (click)="changeSelectedProfile(item)"><span>{{item.name}}</span></button>
            <button mat-menu-item>
              <mat-icon color="primary">add_circle</mat-icon>
              <span>neue Organisation</span>
            </button>
          </mat-menu>

      </div>
    </mat-toolbar>
  </div>
</div>

