<mat-toolbar class = "toolbar">
  <img src='assets/img/Logo.webp' alt='image' class="logo">
  <div class="title">
    <h1 class="titel_bpc">Best Practice Club</h1>
  </div>
  <span class="fill-space"></span>
  <div *ngIf="isAuthenticated()" class="right">
    <mat-icon class = "toolbar_icon">assessment</mat-icon>
    <mat-icon class = "toolbar_icon">business</mat-icon>
    <mat-icon matTooltip="Threads" matTooltipPosition="left" class = "toolbar_icon">forum</mat-icon>
    <mat-icon matTooltip="userName()" matTooltipPosition="left" class = "toolbar_icon">account_circle</mat-icon>
  </div>
</mat-toolbar>

