.fill-space {
  flex: 1 1 auto;
}

.title {
  display: inline-flex;
  vertical-align: center;
  align-items: center;

  mat-icon {
    padding-right: 2%;
  }

  h1 {
    padding-left: 2%;
    color: linear-gradient(270deg, rgba(78,115,150,1) 15%, rgba(112,113,70,1) 33%, rgba(164,165,18,1) 77%);
  }
}

.logo {
  height: 75px;
}

.toolbar {
  width: 100%;
  background:transparent;
}

.toolbar_icon {
  color: orange;
  padding-left: 10px;
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.titel_bpc{
  background-image: linear-gradient(270deg, rgba(78,115,150,1) 15%, rgba(112,113,70,1) 33%, rgba(164,165,18,1) 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
