.dialog_content {
  border-radius: 10px;
  height: 500px;
  width: 100%;
  padding: 25px;
  background: white;
}

.table_content {
  table {
    width: 100%;
  }
  height: calc(100% - 36px);
  overflow: auto;
}

.button_bar {
  position: relative;
  float: right;
  height: 36px;
  button {
    margin-left: 5px;
  }
}
