<div class="clubs-content">
  <div class="grid-part">
    <!-- clubs-Navigation -->
    <div class="gird_item_clubs_navigation">
      <mat-card class="card_box">
        <mat-card-content class="navigation_card_content">
          <div *ngFor="let club of userClubs">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{club.name}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-button (click)="changeContent('start', club)">Startseite</button>
                <button mat-button (click)="changeContent('clubSelfEstimation', club)">Selbsteinschätzung</button>
                <button mat-button (click)="changeContent('member', club)">Mitglieder</button>
                <button mat-button (click)="changeContent('measures', club)">Maßnahmen</button>
                <!-- ToDo: hier fehlt noch eine Überprüfung, ob User = Moderator-->
                <button *ngIf="checkAuthorization(club)" mat-button (click)="changeContent('questionnaire', club)">Fragebogen</button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="navigation-bottom">
            <mat-divider></mat-divider>
            <button mat-button>
              <span>Clubs hinzufügen +</span>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="grid_item_club_name">
      <mat-card class="card_box">
        <mat-card-title>
          {{selectedClub.name}} - {{contentName}}
        </mat-card-title>
      </mat-card>
    </div>

    <!-- sub sections -->

    <div class="grid_item_content">
      <div *ngIf="startIsVisible" class="clubs_sub_content"><app-club-start-page [club]="selectedClub"></app-club-start-page></div>
      <div *ngIf="clubSelfEstimationIsVisible" class="clubs_sub_content"><app-club-assessment [club]="selectedClub"></app-club-assessment></div>
      <div *ngIf="measuresIsVisible" class="clubs_sub_content"><app-club-measure [club]="selectedClub"></app-club-measure></div>
      <div *ngIf="memberIsVisible" class="clubs_sub_content"><app-club-member [club]="selectedClub"></app-club-member></div>
      <div *ngIf="questionnaireIsVisible" class="clubs_sub_content"><app-club-questionnaire [club]="selectedClub"></app-club-questionnaire></div>
    </div>
  </div>
</div>
