.dashboard_content {
  height: 100%;
  width: 100%;
  background: blue;
}

//.divider_box{
//  height:100%;
//  width:33%;
//  background:green;
//}

.middle_part {
  display: flex;
  width: 100%;
}

.card_box {
  background: white;
  width: 30vw;
  height: 35vh;
  margin: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.small_card_box {
  background: white;
  width: 20vw;
  height: 35vh;
  margin: 5px;
  margin-top: 10px;
}

.news_feed_box {
  background: white;
  width: 28vw;
  height: calc(70vh + 40px);
  //calc(100% - 48px);
  margin: 5px;
  margin-top: 10px;
}

.co2_progress_box {
  display: block;
  background: white;
  width: calc(100% - 45px);
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.progressBar {
  width: 100%;
  height: 10px;
}

.chart {
  width: 90%;
  height: 90%;
  display: block;
  margin: auto;
}

.news_item {
  background: grey;
  margin-bottom: 5px;
}

.example-viewport {
  width: 40vw;
  height: 25vh;
}

table {
  width:100%;
  height:80%;
}

.fill-space {
  flex: 1 1 auto;
}
