.dashboard_content {
  height: 100%;
  width: 100%;
}

.grid_part {
  height: calc(100% - 35px);
  display: grid;
  grid-template-columns: 40% auto auto;
  grid-template-rows: 44% 44% 10%;
  padding: 10px;
  gap: 10px;
  width: calc(100% - 20px); //because of padding
}

.grid_item {
  height: 100%;
}

.grid_item_news_feed {
  grid-column: 3;
  grid-row: 1 / span 2;
  height: 100%;
}

.card_box {
  background: white;
  height: calc(100% - 32px);
}

.grid_item_c02_progess {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.co2_progress_box {
  display: block;
  background: white;
  height: calc(100% - 20px);
}

.progressBar {
  width: 100%;
  height: 10px;
}

.chart {
  min-width: 75%;
  max-width: 90%;
  height: 90%;
  display: block;
  margin: auto;
}

.card_content {
  margin: auto;
  width: 100%;
  height: 90%;
}

.card_content_news_item {
  margin: auto;
  overflow: auto;
  width: 100%;
  height: 90%;
}

.card_content_chart {
  width: 94%;
  height: 85%;
}


.news_item {
  margin-bottom: 5px;
}

.user_icon {
  vertical-align: bottom;
}

.example-viewport {
  width: 100%;
  height: 100%;
}

.fill-space {
  flex: 1 1 auto;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

.scrollable_div {
  height: 100%;
  overflow: auto;
}
