div.profile_icon{
  height: 100%;
  padding: 50px;
}

div.box_flex{
  display: flex;
  width: 100%;
}

.icon_profile {
  color: orange;
  font-size: 150px;
  height: 150px;
  width: 150px;
}

.top_detail {
  width: 100%;
}

.organisation-form{
  padding: 10px;
}

div.data_visualization{
  padding: 10px;
  width: 100%;
  display: block;
  text-align:center;
}

.profile_button {
  border-radius: 50%;
}

.organisation_info {
  margin: auto;
}
