<div class="basic-container">
  <div class = "box_flex">
    <div class = "profile_icon">
      <button mat-icon-button class="profile_button">
        <mat-icon class="icon_profile">store</mat-icon>
      </button>
    </div>
    <div class="organisation_info">
      <div class="organisation-form">
          <span>
            <mat-label for="name">Unternehmensname: </mat-label>
          </span>
          <span>
            <input matInput id="name" type="text" [(ngModel)]="organisation.name" name="name">
          </span>
      </div>
      <div class="organisation-form">
        <label for="industry">Branche: </label>
        <input id="industry" [(ngModel)]="organisation.industry" editable="false">
      </div>
      <div class="organisation-form">
        <label for="employees">Mitarbeiter: </label>
        <input id="employees" [(ngModel)]="organisation.employees" editable="false">
      </div>
      <div class="organisation-form">
        <label for="contact">Kontakt: </label>
        <input id="contact" [(ngModel)]="organisation.contact" editable="false">
      </div>
      <div class="organisation-form">
        <label for="email">Email: </label>
        <input id="email" [(ngModel)]="organisation.email" editable="false">
      </div>
    </div>
    <div>
      <button mat-icon-button *ngIf="isUsersOrganisation">
        <mat-icon class="icon">edit</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="data_visualization">
  <img src='assets/img/Einzelunternehmensbetrachtung.PNG' alt='image' class="logo">
</div>
