/* You can add global styles to this file, and also import other style files */
header {
  background-color: white;
  min-height: 75px;
  height: 10%;
  position: sticky;
  width: 100%;
  display: flex;
}

body, html {
  height: 95%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.basic-container {
  background: linear-gradient(342deg, #4E8943 7%, rgba(106, 160, 81, 0.3) 96%);
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.app_toolbar {
  width: 100%;
}

.icon{
  color: orange;
}

.right {
  display: flex;
  justify-content: flex-end;
}

mat-form-field .mat-form-field {
  &-underline {
    position: static;
  }

  &-subscript-wrapper {
    position: static;
  }
}


